# Editor configuration, see http://editorconfig.org
root = true

[*]
charset = utf-8
end_of_line = lf

indent_style = space
indent_size = 4
trim_trailing_whitespace = true

[*.yaml]
indent_size = 2

[*.html]
indent_size = 2

[*.css]
indent_size = 2

[*.scss]
indent_size = 2

[*.md]
max_line_length = off
trim_trailing_whitespace = false

[*.prisma]
indent_size = 2

[*.gql]
indent_size = 2